<div class="column is-one-quarter">
  <div class="card">

    <div class="w3-container w3-center is-bold">
      <div class="card-image">
        <figure class="image">
          <img src="{{ this.link }}" alt="Artwork" width="1200" height="500">
        </figure>
      </div>
      <div class="card-content">
        <a href="/{{user.userName}}/drawing/{{this.id}}">{{ this.name }}</a>
        <p>By <a href="/{{user.userName}}">{{ user.userName }}</a></p>
      </div>
    </div>
  </div>
</div>