{{> header}}

<div class="section backgroundImage">
<div class="container">
  <h1>Edit Artwork</h1>
  {{#if owner }}
    <div class="owner-controls" data-userid="{{ user.id }}" data-drawingid="{{ drawing.id }}">
      <button id="owner-delete">Delete</button>
      <button id="owner-save">Update</button>
    </div>
  {{/if}}
  <div class="toolbar">
    {{!-- <input class="button" type="color" name="color" id="color" />
    <button class="button" data-tool="line">line</button>
    <button class="button" data-tool="square">square</button>
    <button class="button" data-tool="pen">pen</button>
    <button class="button" id="save" data-userid="{{ user.id }}">Save New</button>
    <button class="button" id="undo">Undo</button>
    <button class="button" id="redo">Redo</button> --}}
    {{> toolbar }}
  </div>
  <div>
    <label for="drawingName">Name:</label>
    <input type="text" id="drawingName" name="drawingName" value="{{ drawing.name }}">
  </div>
  <div id="drawing-area" style="position: absolute;">
    <canvas id="main" width="1200" height="500" data-paths="{{ drawing.data }}"
      style="border: 1px solid black; position: absolute; left: 0; top: 0;"></canvas>
  </div>
</div>

<script type="module" src="/assets/js/canvas.js"></script>
</div>